

.appButton{

    min-width: 150px;
    min-height: 40px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    background-color: green;
    border: 1px solid darkgreen;
    border-bottom: 4px solid darkgreen;
    border-right: 4px solid darkgreen;
    border-radius: 5px;
    cursor: pointer;

}

.appButtonNoturno{
    color: rgb(158, 158, 158);
    background-color: rgb(0, 32, 0);
    border: 1px solid rgb(0, 17, 0);
    border-bottom: 4px solid rgb(0, 17, 0);
    border-right: 4px solid rgb(0, 17, 0);
}


.appButton:active{
    border-bottom: 1px solid darkgreen;
    border-right: 1px solid darkgreen;
}

.noturno:active{

    border-bottom: 1px solid rgb(0, 17, 0);
    border-right: 1px solid rgb(0, 17, 0);
}
