


.appSelect{
    min-width: 150px;
    min-height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
}


.appSelectNoturno{

    color: rgb(158, 158, 158);
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(0, 32, 0);

}

.appSelectNoturno:focus{
    outline: none;
}

.appSelectNoturno:active{
    outline: none;
}
