

.modoNoturno{
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    font-weight: 500;
    font-size: 27px;
    background-color: transparent;
    border: 1px solid rgb(0 90 59);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.appContainer {
    position: relative;
    height: 100vh;
    display:flex;
    flex:1;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    gap:10px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,121,85,1) 100%, rgba(0,212,255,1) 100%);
}

.cardContainer{
    display:flex;
    flex-direction:row;
    gap: 10px;
    flex-wrap:wrap;
    padding: 10px;
    justify-content: center;
}

